<div id="homePageContainer">
    
        <a href="/route/list" class="btn btn-secondary">List of Project</a>
        <a href="/route/create" class="btn btn-success">Create Project</a>
        
        
    
</div>